/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.txt-uppercase{
    text-transform: uppercase;
}

.effect-hover{
    display: none;
}

/* header */
header{
    height: 100px;
    padding-top: 10px;
}

header .box-logo{
    height: 60px;
    width: 20%;
    text-align: center;
    margin: 0 auto;
}

#logo{
    height: 100%;
    vertical-align: middle;
}

.box-logo .text-logo{
    font-size: 50px;
    font-weight: 900;
    vertical-align: middle;
}

header nav{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

header nav li{
    display: inline-block;
    margin-right: 30px;
}


/* main */
.container-main{
    width: 70%;
    margin: 40px auto 30px;
}

main .contains-box-shop{
    width: 90%;
    margin: 0 auto 80px;
}

.contains-box-shop .box-shop{
    width: calc((100% / 3) - ( 20px / 3 ));
    float: left;
}

.contains-box-shop .box-shop:nth-child(2){
    margin: 0 10px;
}

.contains-box-shop .box-shop .card-img{
    height: 415px;
    margin-bottom: 15px;
    position: relative;
}

.box-shop .card-img img{
    height: 100%;
    width: 100%;
    filter: brightness(90%);
}

.box-shop:hover .origin{
    display: none;
}

.box-shop:hover .effect-hover{
    display: block;
}

.box-shop .card-img .wishlist{
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 28px;
    font-family: -apple-system;
    background-color: white;
    padding: 8px;
}

.box-shop .card-img .tags{
    position: absolute;
    bottom: 0;
    left: 0;
}

.card-img .tags .plate{
    color: white;
    font-weight: 400;
    padding: 3px;
    margin-bottom: 15px;
}

.card-img .tags .plate.discount{
    background-color: red;
}

.card-img .tags .plate.plus{
    background-color: green;
}

.card-img .choice-color{
    margin-top: 15px;
    background-color: white;
}

.card-img .choice-color img{
    width: calc(100% / 7 - 4px);
    height: 60px;
    filter: none;
}

.content-info-shop .price{
    margin-top: 15px;
}

.content-info-shop .price span{
    color: red;
    font-weight: 700;
}

.box-shop .category{
    height: 72px;
    background-color: green;
    padding: 10px;
}


/* footer */
footer{
    height: 100px;
}

footer h3{
    line-height: 100px;
    text-align: center;
}


/* debug */
.debug header{
    background-color: red;
}

.debug .box-logo{
    background-color: green;
}

.debug header nav{
    background-color: skyblue;
}

.debug .container-main{
    background-color: chocolate;
}

.debug main .contains-box-shop{
    background-color: darkturquoise;
    border: 2px solid black;
}

.debug .contains-box-shop .box-shop{
    background-color: gray;
}

.debug footer{
    background-color: red;
}

.debug .card-img{
    background-color: teal;
}

.debug .content-info-shop{
    background-color: violet;
}

.debug .tags{
    background-color: sandybrown;
}

