/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* header */
header{
    height: 100px;
}

header .box-logo{
    height: 60%;
    width: 20%;
    margin: 0 auto;
}

header nav{
    height: 40%;
}


/* main */
.container-main{
    width: 70%;
    margin: 20px auto;
}

main .contains-box-shop{
    width: 80%;
    margin: 0 auto;
}

.contains-box-shop .box-shop{
    width: calc((100% / 3) - 20px);
    float: left;
}

.contains-box-shop .box-shop:nth-child(2){
    margin: 0 10px;
}


/* debug */
.debug header{
    background-color: red;
}

.debug .box-logo{
    background-color: green;
}

.debug header nav{
    background-color: blue;
}

.debug .container-main{
    height: 800px;
    background-color: chocolate;
}

.debug main .contains-box-shop{
    background-color: darkturquoise;
    border: 2px solid black;
}

.debug .contains-box-shop .box-shop{
    height: 200px;
    background-color: gray;
}